<a class="card-post-body" [routerLink]="['/post', post.id]" >
  <div class="card-img-container">
      <img class="img-card" [src]="post.thumbnail" />
  </div>

  <div class="card-body">
      <div class="date">
          <small>{{post.author}}  </small>
               <i class="fa-solid fa-circle fa-2xs"></i>  
          <small> {{ convertDate(post.createdAt )}} </small>
      </div>
      <div  class="main-content">
          <h4>{{post.title}}</h4>
          <p>{{post.content}}</p>
      </div>
  </div>

  <div class="card-footer">
      <ng-container *ngFor="let category of post.categories">
          <span>
              {{ category.name}}
          </span>
      </ng-container> 
  </div>
</a>
