.card-post-body {
    flex: 0 0 280px;
    border-radius: 10px;

    .card-img-container {
      width: 100%;
      height: 270px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      img {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
    }

    .card-body {
      padding: 20px 10px 0px 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .date {
        color: rgb(122, 75, 167);

        small {
          font-weight: 500;
        }

        i {
          padding: 0 5px;
        }
      }

      .main-content {
        /* background-color: cyan; */
        margin: 5px 0;

        h4 {
          font-weight: 600;
          font-size: 16px;
        }

        p {
          color: rgb(96, 96, 96);
        }
      }
    }

    .card-footer {
      height: 30px;
      margin-bottom: 12px;
      margin-left: 10px;
      display: flex;
      gap: 10px;

      span {
        display: block;
        padding: 3px 13px;
        background-color: rgb(236, 249, 233);
        color: green;
        border-radius: 50px;
        font-size: 12px;
        height: 20px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }