  <header>
    <nav>

      <div>
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >CINE'N CO</a>
      </div>

      <!-- <app-button [text]="'Continuer'" [isDisabled]="false" > </app-button> -->
      
      <ul class="navbar-nav desktop">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/post/all']" routerLinkActive="active" >Tous les Films</a>
        </li>
        <li *ngIf="userIsLogger">
          <a class="nav-link" [routerLink]="['/post/add']" routerLinkActive="active" >Créer un poste</a>
        </li>
        <li class="nav-item">
          <a *ngIf="userIsLogger"   class="nav-link"[routerLink]="['/user/profil']" routerLinkActive="active" >Espace personnel</a>
          <a *ngIf="!userIsLogger"   class="nav-link" [routerLink]="['/user/login']" routerLinkActive="active" >Connexion</a>
        </li>

        <li *ngIf="userIsLogger" class="nav-item logout"  tabindex="0" (click)="logOutNow()">
          <a > 
            <!-- <span> Déconnexion </span> -->
             <i class="fa-solid fa-arrow-right-from-bracket"></i> 
          </a>
        </li>

      </ul>

      <div class="icon-menu-mobile">
          <button (click)="openMobileNavbar()" >
            <i class="fa-solid fa-bars fa-lg" *ngIf="!mobileNavbarIsOpen" ></i>  
            <i class="fa-solid fa-xmark fa-lg" *ngIf="mobileNavbarIsOpen" ></i>  
          </button>
      </div>


      <div class="mobile-navbar" [ngClass]="{'open': mobileNavbarIsOpen}">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/post/all']" routerLinkActive="active" >Tous les Films</a>
            </li>
            <li *ngIf="userIsLogger">
              <a class="nav-link" [routerLink]="['/post/add']" routerLinkActive="active" >Créer un poste</a>
            </li>
            <li class="nav-item">
              <a *ngIf="userIsLogger"   class="nav-link"[routerLink]="['/user/profil']" routerLinkActive="active" >Espace personnel</a>
              <a *ngIf="!userIsLogger"   class="nav-link" [routerLink]="['/user/login']" routerLinkActive="active" >Connexion</a>
            </li>
    
            <li *ngIf="userIsLogger" class="nav-item"  tabindex="0" (click)="logOutNow()">
              <a > 
                <span> Déconnexion </span>
                 <i class="fa-solid fa-arrow-right-from-bracket"></i> 
              </a>
            </li>
          </ul>
      </div>

      <div *ngIf="mobileNavbarIsOpen" class="cache-header-mobile">
      </div>

    </nav>

  </header>
  
