
<div *ngIf="post" class="global-detail-post" >
    <section class="app-detail show-post" >
        <div class="card-body-post" >
            <div class="post-category-date">
                <ng-container *ngFor="let category of post.categories" >
                    <span class="category">
                        {{category.name}}
                    </span>    
                </ng-container>
                <span class="date"> Le {{ convertDate(post.createdAt) }}   </span>
            </div>
            <h1>{{post.title}} </h1>
            <div class="container-thumbnail">
                <img [src]="post.thumbnail" />
            </div>
            <div class="post-text">
                <p [innerHTML]="post.content"> </p>
            </div>
        </div>


        <div class="post-bottom">

            <div class="author-info"> 
                <img [src]="post.picture_author_post" width="'15px'" height="'15px'"/>
                <span> De {{post.author}}</span>
            </div>

            <div class="container-btn">
                <button (click)=" userId !== undefined ? addPostLike() : null"   >
                    <i class="fa-solid fa-thumbs-up" 
                    [ngStyle]="{'color': btnLikesSelected === true ? 'green' : (btnLikesSelected === false ? 'grey' : null)}"></i>
                    {{post.likes}}
                </button>
                <button (click)="userId !== undefined ? addPostDislike() : null" >
                    <i class="fa-solid fa-thumbs-down" 
                    [ngStyle]="{'color': btnDislikesSelected === true ? 'red' : (btnDislikesSelected === false ? 'grey' : null)}"
                    ></i>
                    {{post.dislikes}}
                </button>
            </div>
        </div>
    </section>


    <section class="app-detail diplay-comments">
        <div class="title">
            <h3>  {{ commentsList.length > 1  ? "Commentaires" : "Commentaire" }}  </h3>
        </div>
        <ul *ngIf="commentsList.length > 0" >

            <div class="cache-header-scroll">

            </div>
            <li *ngFor="let comment of commentsList">	

                <div class="comment-infos">
                    <div class="author-info"> 
                        <img [src]="comment?.picture_avatar" width="'15px'" height="'15px'"/>
                        <span> De {{comment?.comment_author}}</span>
                    </div>
                    <div class="comment-date">
                        <span> <small>  le {{ convertDate(comment.createdAt)}} </small> </span>
                    </div>
                </div>
                <p>{{comment?.content}}</p>
                <div class="grp-btn">
                    <button (click)="deleteComment(comment.id)" > <i class="fa-solid fa-trash"></i>  </button>
                </div>
            </li>
        </ul>
        <p *ngIf="commentsList.length === 0"> Aucun commentaire</p>
    </section>


    <section class="app-detail add-comments"  *ngIf="userId !== undefined">
        <form>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Saisissez votre commentaire:</label>
                <textarea class="form-control" rows="3" [(ngModel)]="commentText" name="comment-writing"></textarea>
            </div>
            <div class="send-comment-control">
                <button class="btn-submit" id="add-comment" [disabled]="commentText === '' ? true : false"   (click)="commentText !== '' ? addComment() : null">Envoyer</button>
            </div>
        </form>
    </section>
</div>




