
<section>


  <form [formGroup]="insertPostForm" >
    <h1>Ajouter un film</h1>

    <div class="zone-list-input" >
      <label style="display: block">Catégorie:</label>   

      <button class="btn add-category" (click)="handleShowListInput()"   >
        
        {{ categoryID !== '' ?  getLabelInputSelected() : 'Ajouter la catégorie'  }}
      </button>

      <div class="show-list-input" [ngStyle]="{display: canShowInputsCategories ? 'block' : 'none'}">
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="categoryId">
        <ng-container  *ngFor="let categoryPost of categoryPostList" >        
          <mat-radio-button class="example-radio-button" [value]="categoryPost.value">{{categoryPost.label}}</mat-radio-button>
        </ng-container>

        </mat-radio-group>
      </div>
    </div>
    <div>
      <label style="display: block">Lien de l'image:</label>   
      <input 
      type="text" 
      class="file-upload" 
      name="thumbnailLink"         
      formControlName="thumbnailLink"
      [placeholder]="'Lien de l\'image'"
      >  
    </div>

    <div>
      <label style="display: block">Uploader une image:</label> 
      
      <div class="img-load-container">
        <img *ngIf="previewImageFile !== ''"  [src]="previewImageFile"  width="80px" height="80px" />

          <div class="input-btn" [ngClass]="{'image-uploaded':  previewImageFile !== '' }"  >
            <input 
            #inputFileElement
            type="file" 
            class="file-upload"
            [ngClass]="{'disabled-input': thumbnailLink.value !== '' && thumbnailUpload.value === ''}"
            name="thumbnailUpload"         
            formControlName="thumbnailUpload"
            (change)="onFileSelected($event)"  
            >
            <button *ngIf="previewImageFile !== ''" (click)="cleanThumbnailUpload()">
              Supprimer
            </button>
          </div>
      </div>

    </div>
    <div>
      <label style="display: block">Titre:</label>
      <input
        formControlName="title"
        type="text"
        placeholder="Titre"
        name="title"
      />
    </div>
    <div>
      <label style="display: block">Contenu:</label>
      <textarea name="content" id="" formControlName="content"
      ></textarea>
    </div>
  
    <button type="submit" class="btn add-post" (click)="onSubmit()">
      Ajouter
    </button>
  </form>
  
  <ng-template [ngIf]="submitted && !creationPostIsSuccessfull && errorMessage" >
    <div class="messages-failed">
      <p>{{ errorMessage }}</p>
    </div>
  </ng-template>
</section>

<!-- <ng-container *ngFor="let image of imagesList" >
  <img [src]="image.path" width="350px" height="350px" />
</ng-container> -->

