<a class="hero-image"  [routerLink]="['/post',postNewestAsHero.id ]"  *ngIf="checkObjectIsEmpty(postNewestAsHero) === false" [ngStyle]="
{'background':'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + postNewestAsHero.thumbnail + ') center/cover no-repeat'}"
>
    <div class="hero-text"  >
        <ng-container *ngFor="let category of postNewestAsHero.categories" >
            <span class="cat"> {{category.name}}</span>
        </ng-container>
        <div class="description-text">
            <h2>
                {{postNewestAsHero.title}}
            </h2>
        </div>
        <div>
            <small>{{postNewestAsHero.author}}
            </small>
            <i class="fa-solid fa-circle fa-2xs"></i>  
            <small> {{convertDate(postNewestAsHero.createdAt)}} </small>
        </div>
    </div>
</a>



<section class="home-new-post">

    <div class="title">
        <h3> Nouveautés</h3>
    </div>
    <div class="new-post-container">
    
        <div class="post-area" *ngFor="let latestPost of postLastestList"  >
            <a class="card-post-body" [routerLink]="['/post',latestPost.id ]" routerLinkActive="router-link-active"  >
                <div class="card-img-container">
                    <img class="img-card" [src]="latestPost.thumbnail" />
                </div>
                <div class="card-body">
                    <div class="date">
                        <small> {{latestPost.author}} <i class="fa-solid fa-circle fa-2xs"></i> {{convertDate(latestPost.createdAt)}} </small>
                    </div>
                    <div  class="main-content">
                        <h4>{{latestPost.title}} </h4>
                        <p [innerHtml]="latestPost.content"> </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>


<!-- <section class="container-home">
    <div class="title">
        <h3> Tous les posts</h3>
    </div>
    <app-posts-list> </app-posts-list>
</section> -->


<app-posts-list [titleSection]="'Le meilleur du cinéma'"> 

    
</app-posts-list>


