.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://img.lemde.fr/2019/05/21/117/0/1600/799/1342/671/60/0/30ce305_obd3AGqDSauwBTKn9lEW7RZt.jpg")
      center/cover no-repeat;
  height: 400px;
  position: relative;

  .hero-text {
    width: 600px;
    padding: 1em;
    color: white;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: 25px;
    left: 25px;

    div.description-text {
      h2 {
        font-weight: 600;
        font-size: 1.25rem; 
        padding: 0;
        margin: 0 0 10px 0;
      }
    
  
      @media (max-width: 600px) {
        h2 {
          font-size: 1rem; 
        }
      }
    }


    span.cat {
      margin-bottom: 10px;
      display: inline-block;
      background-color: rgb(236, 249, 233);
      color: green;
      padding: 3px 13px;
      border-radius: 50px;
    }

    div {
      small {
        font-weight: 500;
        font-size: 16px;
        color: rgb(232, 215, 248);
      }
  
      i {
        padding: 0 5px;
        font-size: 8.75px;
        color: rgb(232, 215, 248);
      }  
    }
  }
}

section.home-new-post {
  margin: 0 auto;

  .title {
    padding: 25px 0;

    h3 {
      font-weight: 600;
      font-size: 20px;
      margin: 0;
    }
  }

  .new-post-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 250px;
    gap: 15px;

    .post-one {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      border-radius: 10px;

      .card-post-body {
        display: flex;
        flex-direction: column;
        border-radius: 10px;

        .card-img-container {
          height: 250px;

          img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .card-body {
          padding: 10px;
          width: calc(100% - 20px);
          border-radius: 10px;

          .date {
            color: rgb(122, 75, 167);

            small {
              font-weight: 500;
            }

            i {
              padding: 0 5px;
            }
          }

          .main-content {
            margin: 5px 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 5;
            text-overflow: ellipsis;

            h4 {
              font-weight: 600;
              font-size: 16px;
            }

            p {
              color: rgb(96, 96, 96);
              margin: 0;
            }
          }
        }
      }
    }

    .post-two,
    .post-three {
      border-radius: 10px;

      .card-post-body {
        display: flex;
        flex-direction: row;

        .card-img-container {
          height: 250px;
          width: 45%;

          img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .card-body {
          padding: 10px;
          width: 55%;
          border-radius: 10px;

          .date {
            color: rgb(122, 75, 167);

            small {
              font-weight: 500;
            }

            i {
              padding: 0 5px;
            }
          }

          .main-content {
            margin: 5px 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 5;
            text-overflow: ellipsis;

            h4 {
              font-weight: 600;
              font-size: 16px;
            }

            p {
              color: rgb(96, 96, 96);
            }
          }
        }
      }
    }

    .post-two {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .post-three {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }
}


section.container-home {
  margin: 0 auto;
  .title {
    padding: 25px 0;
    h3 {
      font-weight: 600;
      font-size: 20px;
      margin: 0;
    }
  }


}


@media only screen and (max-width: 1000px) {
  section.home-new-post {
    width: 95%;
    .new-post-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      margin: 0 auto;
      .post-one {
        .card-post-body .card-img-container {
          width: 100%;
        }
      }
    }
  }
}


@media only screen and (max-width: 900px) {

  section.container-home {
    width: 95%;

  }
  section.container-home {
    ul.grid-posts li {
      flex: 1 1 250px;
    }
  }
}




@media only screen and (max-width: 800px) {
  section.home-new-post .new-post-container {
    display: block;
    margin: 0 auto;
    .post-one,
    .post-two,
    .post-three {
      .card-post-body {
        flex-direction: column;

        .card-img-container {
          width: 100%;
          height: 250px;
        }

        .card-body {
          width: calc(100% - 20px);
          max-height: 250px;
          padding: 10px;
        }
      }
    }
  }
}


@media (max-width: 600px) {

  .hero-image .hero-text {

    left: 10px;
    width: fit-content;
    padding: 0;
    h2 {
      font-size: 0; 
    }
  }

}

@media only screen and (max-width: 500px) {
  section.container-home {
    width: 95%;
    ul.grid-posts li {
      flex: 1 1 250px;
    }
  }
}