

  main {
    margin-bottom: 50px;
  }

  footer {
    background-color: rgb(241, 241, 241);
    // height: 15px;
    // bottom: 0;
    // right: 0;
    // left: 0;
    padding: 10px 2em;
    font-size: 14px;
  }






