
.app-container-global {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;

    main {
      margin-bottom: 50px;
    }
  
    footer {
      background-color: rgb(245, 245, 245); 
      border-top: 1px solid rgb(222,222,222); 
      position: absolute;
      height: 15px;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 10px 2em;
      font-size: 10px;
      color: gray;
      text-align: center;
    }
  
}

