
.app-container-global {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;

    main {
      margin-bottom: 50px;
    }
  
    footer {
      background-color: rgb(245, 245, 245); 
      border-top: 1px solid rgb(222,222,222); 
      position: absolute;
      height: 15px;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 10px 2em;
      font-size: 10px;
      color: gray;
      text-align: center;
    }
  
}

@media (min-width: 1440px) {
  .app-container-global {
      // box-sizing: border-box;
   

      header {
        box-shadow: 0px 0px 6px #dedede;
        nav {
          box-shadow: none;
          max-width: 1360px;
          // padding: 0 25px;
          // width: calc(100% - 25px );
          margin: 0 auto;
        }
      }
      
    
      main {
        max-width: 1360px;
        width: 100%;
        margin: 0 auto;

        .hero-image {
          border-radius: 10px ;
          margin-top: 25px;
        }
      }
  }

} 

@media (max-width: 1440px) {
  .app-container-global {
 
    header nav {
       padding: 0 2rem;
       box-shadow: 0px 0px 6px #dedede;
    }

    main div section {
      width: 95%;
      
    }
  }
}