<div class="title">
    <h3> Nouveautés</h3>
</div>
<section class="new-post-container">

    <div class="post-one">
        <div class="card-list"   >

            <div class="card-img-container">
                <img class="img-card" [src]="'https://medias.boutique.lab.arte.tv/prod/69959_vod_thumb_318792.JPEG'" />
            </div>

            <div class="card-body">
                <div class="date">
                    <small> Jean Reyno <i class="fa-solid fa-circle fa-2xs"></i> 18/06/1995  </small>
                </div>
                <div  class="main-content">
                    <h4>Un long dimanche de Fiancaille </h4>
                    <p>lrem lammm</p>
                </div>
            </div>
        </div>
    </div>

    <div class="post-two">
        <div class="card-list"   >

            <div class="card-img-container">
                <img class="img-card" [src]="'https://www.kanpai.fr/sites/default/files/styles/og/public/uploads/2006/02/memoires-geisha-5.jpg'" />
            </div>

            <div class="card-body">
                <div class="date">
                    <small> Jean Reyno <i class="fa-solid fa-circle fa-2xs"></i> 18/06/1995  </small>
                </div>
                <div  class="main-content">
                    <h4>Memoire d'une Geisha </h4>
                    <p>lrem lammm</p>
                </div>
            </div>
        </div>

    </div>

    <div class="post-three">
  
        <div class="card-list"   >

            <div class="card-img-container">
                <img class="img-card" [src]="'https://1.vikiplatform.com/c/36348c/e191eddd3b.jpg?x=b&a=0x0'" />
            </div>

            <div class="card-body">
                <div class="date">
                    <small> Jean Reyno <i class="fa-solid fa-circle fa-2xs"></i> 18/06/1995  </small>
                </div>
                <div  class="main-content">
                    <h4>Sky castle </h4>
                    <p>Lorem vvfdgdfgfgfgghdhgfgh  </p>
                </div>
            </div>
        </div>
    </div>

    <div class="post-four">
  
        <div class="card-list"   >

            <div class="card-img-container">
                <img class="img-card" [src]="'https://media.gqmagazine.fr/photos/64907ade8e8457689a904913/16:9/w_1280,c_limit/Forrest%20Gump.jpeg'" />
            </div>

            <div class="card-body">
                <div class="date">
                    <small> Jean Reyno <i class="fa-solid fa-circle fa-2xs"></i> 18/06/1995  </small>
                </div>
                <div  class="main-content">
                    <h4>Forrest Gump </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-posts-list></app-posts-list>
