header  nav{
    // background-color: #ffffff;
    // font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // padding: 0 2em;

    button {
      border: none;
      // background-color: transparent;
    }

    
      a {
        list-style: none;
        text-decoration: none;
        color: #333;

        // font-weight:300;
      }
    

    ul.navbar-nav.desktop {
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-direction: row;
      li {    
        padding: 25px 4px;
        margin: 0 10px;
        position: relative;
        // background-color: blue;

        a {
          color: #333;
          text-decoration: none;

          span {
            padding: 0 5px ;
          }
        }


          &:after {
            content: '';
            display: block;
            height: 4px;
            width: 0;
            background-color: #155ca8;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            // transition: width 0.3s ease-in-out;
          }
          
          &.active:after, 
          &:hover:after {
              width: 100%;
          }

          &:focus,
          &:hover {
            a {
              color: #155ca8;
              font-weight:400;
            }
          }

      }
    }

    div.icon-menu-mobile {
      display: none;
    }


    div.mobile-navbar {
      display: none;
    }

    .cache-header-mobile {
      background-color: blue;
    }
  
}


@media only screen and (max-width: 900px) {

  nav {
    padding: 15px 2em;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: none;


    ul.navbar-nav.desktop {
      display: none;
    }
    div.icon-menu-mobile {
      display: block;
      position: absolute;
      right: 32px;
    }

    div.mobile-navbar {
      position: absolute;
      background-color: rgb(255, 255, 255);
      top: 50px;
      width: 100%;
      right: 0cm;
      left: 0px;
      z-index: 999999;

      &.open {
        display: block;
      }

      ul {
        margin: 0;
        padding: 0 32px;
        list-style: none;

        li {
          padding: 20px 0;
        }
      }
    }

    .cache-header-mobile {
      background-color: rgba(28, 28, 28, 0.867);
      backdrop-filter: blur(5px);
      position: absolute;
      top: 50px;
      width: 100%;
      height: 100vh;
      right: 0cm;
      left: 0px;
      z-index: 999;
      opacity: 0.98;
    }
  }
}